.grid-block {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    gap: 1.25rem;
}

.grid-block-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
.sm\:grid-block-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
}